# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  browserstackUser: $(waseemshaikh2)
  browserstackKey: $(WyP6S4vxzCkJ3bdHGzx7)

steps:
- task: BrowserStackConfig@0
  inputs:
    BrowserStackServiceEndPoint: 'New_BrowserStack'
- task: BrowserStackConfig@0
  inputs:
    BrowserStackServiceEndPoint: 'BStack'
- script: npm install
- script: npm run parallel
- task: BrowserStackResults@0